# System files
.DS_Store
Thumbs.db
__pycache__/
*.pyc
.idea/
.vscode/

# Local environment
.env
venv/
env/
*.log
tmp/
.gemini/
**/__pycache__/
**/.DS_Store
infra/*.sock
token.*
config.json
*.rtf
*.txt
node_modules/
dist/
package-lock.json
stash/

